@{
    ViewBag.Title = "Lead2Deal | Sales Script";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="@Url.Content("~/")Home/Index">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Sales</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Assisted Sales</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Sales Script</a>
    </li>

</ul>


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-yellow-crusta">
            <i class="fa fa-mobile-phone font-red-sunglo"></i>
            <span class="caption caption-subject bold uppercase font-red-sunglo"> Sales Script</span>
            <span class="caption-helper"></span>
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">

                <!-- BEGIN PAGE CONTENT-->
                @*add campaign here*@
                <div class="row">
                
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div id="GeneralCol" class="tab-pane active">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p><strong>Develop a professional greeting</strong></p><ul><li>"Good morning, Mr. Akbar."</li></ul>
                                            <p><strong> Introduce yourself and your COMPANY</strong> </p>  <ul>
                                                <li>
                                                    "My name is Shameer with Bank. We're a local firm that specializes in helping businesses like yours save money,
                                                    have I caught you in the middle of anything?
                                                </li>
                                            </ul>

                                            <p> <strong>State the purpose of your call</strong></p><ul>
                                                <li>If we can show you a way to improve the quality of your product at a lower cost, would you be INTERESTED to know more? </li>
                                            </ul>
                                            <p><strong> Qualifying Questions</strong></p><ul>
                                                <li> Do you feel like it is challenging to get new sales hires ramped up and performing?</li>
                                                <li>Do you feel like all of your sales resources are saying and asking the right questions when talking with prospects?</li>
                                                <li>  Are you concerned about the amount of under-performing sales resources that you regularly have?</li>
                                            </ul>
                                            <p><strong>Building Interest Points</strong></p>
                                            <ul><li>  Oh, ok. I understand. Well, it might be productive for us to talk in more detail.</li><li> As I said, I’m with SalesScripter and we have sales prospecting solution and training program that provides your resources with scripts and clarity around what to do and say..</li></ul>
                                            <p><strong>Conclude Conversation</strong></p><ul><li>Thank you for the time Sir ! </li><li>Have a nice day.</li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div id="CarCol" class="tab-pane active">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p><strong>Introduction</strong> </p>  <ul>
                                                <li>"Good morning, Mr. Akbar."</li>
                                                <li>This is Shameer from Bank , Have I caught you in the middle of anything?</li>
                                            </ul>

                                            <p> <strong>Value Statement</strong></p><ul>
                                                <li> The purpose of my call is to explain about the car loan.  </li>
                                            </ul>
                                            <p><strong> Qualifying Questions</strong></p><ul>
                                                <li>What type of vehicle are you looking for?</li>
                                                <li>What is your price range?</li>
                                                <li>How much monthly payment can you afford?</li>
                                            </ul>
                                            <p><strong>Building Interest Points</strong></p>
                                            <ul><li>Tell about the Loan options and Insurance options. </li></ul>

                                            <p><strong>Handling Objections – No Problem!</strong></p>
                                            <ul><li>The easiest way to overcome an objection is to validate their concern, tell them how you can help and bring them back to the appointment.</li></ul>
                                            <p><strong>Reply Questions</strong></p><ul>
                                                <li>What are the documents required and what is the processing time?<br />Like any other product, you would require to submit your identity, address and income proofs along with the loan application. After submission of the documents, it takes about 3-7 days for processing the loan and getting it sanctioned.</li>
                                                <li>
                                                    Is there an OPTION in choosing type of interest rate?<br />
                                                    There are two types of interest rate offered - fixed and floating just like a home loan. You can choose the bank which offers the one you need.
                                                </li>
                                            </ul>
                                            <p><strong>Take their Valuable Feeback</strong></p>
                                            <p><strong>Conclude Conversation</strong></p>
                                            <ul>
                                                <li>Thank you for the time Sir ! </li>
                                                <li>Have a nice day.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="CreditCol" class="tab-pane active">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p><strong>Greeting and Introduce Your Self</strong> </p>  <ul>

                                                <li>"Good morning, Mr. Akbar."</li>
                                                <li>This is Shameer from Bank , Have I caught you in the middle of anything?</li>
                                            </ul>

                                            <p> <strong>Outline the reason for your call/visit and get permission to continue</strong></p><ul>
                                                <li> You are qualified for a Platinum Credit card based on your salary. </li>
                                                <li>Is it a good time to talk to you?</li>
                                            </ul>
                                            <p><strong>Identify the Customer’s needs</strong></p><ul>
                                                <li>What type of Credit Card you need Platinum or Diamond?</li>
                                                <li>What should be your initial Credit Limit?</li>
                                            </ul>
                                            <p><strong>Explain Benefits of Credit Card</strong></p>
                                            <ul>
                                                <li>When you consistently pay your bill on time, you can improve your credit score. With a higher credit score, you may qualify for low-interest rates on mortgages, cars and other big-ticket items down the road, which could save you money.</li>
                                                <li>Some credit cards offer benefits such as travel and emergency assistance or other travel-related features. You need to check with your card to see what travel advantages are available.</li>
                                            </ul>
                                            <p><strong>Listen attentively</strong></p>
                                            <ul><li>  This will encourage the Customer to keep talking. When they pause, don’t fill the dead air.</li></ul>
                                            <p><strong>Reply  Questions</strong></p>
                                            <ul>
                                                <li>When will I receive my card?<br />Upon approval, you will receive your card within 5-7 business days.</li>
                                                <li>Can I get my statement online?<br />Yes, as part of your Credit Card Account Access account, you can view your statement and conduct other account management functions.</li>
                                            </ul>
                                            <p><strong>Take a Feed Back</strong></p>
                                            <p><strong>Conclude Conversation</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="HomeCol" class="tab-pane active">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p><strong>Wishing and Introduce Your Self</strong> </p>  <ul>
                                                <li> Start with Wishing and  Tell Bank Name and Your Name with designation.</li>
                                            </ul>

                                            <p> <strong>State the purpose of your call and get permission to continue</strong></p><ul>
                                                <li> The purpose of my call </li>
                                                <li>Is it a good time to talk to you?</li>
                                            </ul>

                                            <p><strong>Identify the Customer’s needs</strong></p><ul>
                                                <li> Before sharing information about a product, ask the merchant questions like, “What frustrates you today about your CREDIT card processing service?” and “Are there any areas that are working, but could be better?”</li>
                                            </ul>
                                            <p><strong>Explain Benefits of home loan package</strong></p><ul>
                                                <li> Benefit from our home loan package, discounts and special offers.</li>
                                                <li>Save on your other banking with our home LOAN package, which removes the $395 annual fee on an Altitude Black credit card, provides discounted Home and Contents Insurance, plus more.</li>
                                                <li>Take advantage of the flexible features on our home LOANS. Such as unlimited additional repayments, 100% offset and temporarily reducing your repayments when you need a break.</li>
                                            </ul>

                                            <p><strong>Listen attentively</strong></p>
                                            <ul><li>  This will encourage the Customer to keep talking. When they pause, don’t fill the dead air.</li></ul>
                                            <p><strong>Reply  Questions</strong></p>
                                            <ul>
                                                <li>
                                                    How does Home Loans differ from other bank?<br />Unlike a bank, Homeloans specialises in home loans. We source funds from a range of secure institutions, offering our customers a range of products to suit all types of borrowers.
                                                    At Homeloans we believe in providing exceptional personalised service throughout the life of the loan to ensure that obtaining and having a mortgage is a positive and rewarding experience.
                                                </li>
                                                <li>How do my loan repayments work?<br />You repay your home loan through weekly, fortnightly or monthly repayments for the life of the loan. Your repayments will essentially take into account the annual interest rate, loan term, repayment frequency and loan amount. Loan repayments can be organised through bpay, direct debit or in the case of offset accounts, EFT.</li>
                                            </ul>
                                            <p><strong>Take a Feed Back</strong></p>
                                            <p><strong>Conclude Conversation</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="FinanceCol" class="tab-pane active">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p><strong>Greeting and Introduce Your Self</strong> </p>  <ul>
                                                <li> Start with Wishing and  Tell Bank Name and Your Name with designation.</li>
                                            </ul>

                                            <p> <strong>Outline the reason for your call/visit and get permission to continue</strong></p><ul>
                                                <li> The purpose of my call is about Personal Finance.  </li>
                                                <li>Is it a good time to talk to you?</li>
                                            </ul>
                                            <p><strong>Identify the Customer’s needs</strong></p><ul>
                                                <li> Before sharing information about a product, ask the merchant questions like, “What frustrates you today about your CREDIT card processing service?” and “Are there any areas that are working, but could be better?”</li>
                                            </ul>
                                            <p><strong>Explain Features & Benefits</strong></p>
                                            <ul><li>High Finance Amounts - upto AED 4.5 million for UAE Nationals &  AED 1 million for Expats.</li><li>Highly competitive rates.</li><li>Simple documentation.</li></ul>
                                            <p><strong>Listen attentively</strong></p>
                                            <ul><li>  This will encourage the Customer to keep talking. When they pause, don’t fill the dead air.</li></ul>
                                            <p><strong>Reply  Questions</strong></p><ul>
                                                <li>Do I need to transfer my salary to my account with you?<br />Yes, your salary transfer to your ACCOUNT with us is mandatory.</li>
                                                <li>Can I get the Personal Finance approved within 30 minutes?<br />Yes, your will receive your finance within 30 minutes if you have you salary transferred to your ACCOUNT with us. If not, open an account with us and transfer your salary to this account. And after your salary is deposited for the first time in your account with us, apply to get your finance within 30 minutes.</li>
                                            </ul>
                                            <p><strong>Take a Feed Back</strong></p>
                                            <p><strong>Conclude Conversation</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="OthersCol" class="tab-pane active">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p><strong>Develop a professional greeting.</strong></p><ul><li>"Good morning, Mr. Akbar."</li></ul>
                                            <p><strong> Introduce yourself and your COMPANY</strong> </p>  <ul>
                                                <li>
                                                    "My name is Shameer with Bank. We're a local firm that specializes in helping businesses like yours save money,
                                                    have I caught you in the middle of anything?
                                                </li>
                                            </ul>

                                            <p> <strong>State the purpose of your call</strong></p><ul>
                                                <li>If we can show you a way to improve the quality of your product at a lower cost, would you be INTERESTED to know more? </li>
                                            </ul>
                                            <p><strong> Qualifying Questions</strong></p><ul>
                                                <li> Do you feel like it is challenging to get new sales hires ramped up and performing?</li>
                                                <li>Do you feel like all of your sales resources are saying and asking the right questions when talking with prospects?</li>
                                                <li>  Are you concerned about the amount of under-performing sales resources that you regularly have?</li>
                                            </ul>
                                            <p><strong>Building Interest Points</strong></p>
                                            <ul><li>  Oh, ok. I understand. Well, it might be productive for us to talk in more detail.</li><li> As I said, I’m with SalesScripter and we have sales prospecting solution and training program that provides your resources with scripts and clarity around what to do and say..</li></ul>
                                            <p><strong>Conclude Conversation</strong></p><ul><li>Thank you for the time Sir ! </li><li>Have a nice day</li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-3">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                                <a data-toggle="tab" href="#GeneralCol">
                                    <i class="fa fa-briefcase"></i> General Script
                                </a>
                                <span class="after">
                                </span>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#CarCol">
                                    <i class="fa fa-group"></i> Car Loan
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#CreditCol">
                                    <i class="fa fa-leaf"></i> Credit Cards
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#HomeCol">
                                    <i class="fa fa-info-circle"></i> Home Loan
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#FinanceCol">
                                    <i class="fa fa-tint"></i> Personal Finance
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#OthersCol">
                                    <i class="fa fa-plus"></i> Others
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>