@model FramWork.HelloService.PersonLead
@{
    Layout = null;
}

<table class="table table-bordered table-striped ">
<tr>
<td>Name</td><td>@Model.FullName</td>
</tr>
<tr><td>Expected Value</td><td>@Model.ExpectedValue</td></tr>
</table>
