@{
    ViewBag.Title = "Lead2Deal | SalesActivity";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h3 class="page-title">
    Sales Activity <small></small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Sales</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Sales Activity</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-yellow-crusta">
                            <i class="icon-share font-yellow-crusta"></i>
                            <span class="caption-subject bold uppercase">Pipe Line By stage</span>
                            <span class="caption-helper"></span>
                        </div>
                        <div class="actions">

                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="funnel2" style="min-width: 100%; min-height: 700px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">

                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-yellow-crusta">
                            <i class="icon-share font-yellow-crusta"></i>
                            <span class="caption-subject bold uppercase">Sales Leader Board</span>
                            <span class="caption-helper"></span>
                        </div>
                        <div class="actions">

                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="container" style="min-width:200px; max-width:400px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-yellow-crusta">
                            <i class="icon-share font-yellow-crusta"></i>
                            <span class="caption-subject bold uppercase">Goal Progress</span>
                            <span class="caption-helper">Money</span>
                        </div>
                        <div class="actions">

                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="container" style="min-width:200px; max-width:400px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bg-inverse">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-green-haze uppercase">
                            </span>
                            <span class="caption-helper">  My Open Leads</span>
                        </div>
                        <div class="actions">
                            <div class="portlet-input input-inline input-medium">
                                <div class="input-group">
                                    <input class="form-control input-circle-left" placeholder="search..." type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-circle-right btn-default" type="submit">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sherin Maliakkal</td>
                                    <td>7829287581</td>
                                    <td>123123</td>
                                </tr>
                                <tr>
                                    <td>Sherin Maliakkal</td>
                                    <td>7829287581</td>
                                    <td>123123</td>
                                </tr>
                                <tr>
                                    <td>Sherin Maliakkal</td>
                                    <td>7829287581</td>
                                    <td>123123</td>
                                </tr>
                                <tr>
                                    <td>Sherin Maliakkal</td>
                                    <td>7829287581</td>
                                    <td>123123</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold font-green-haze uppercase">
                               
                            </span>
                            <span class="caption-helper"> My Open Opportunity</span>
                        </div>
                        <div class="actions">
                            <div class="portlet-input input-inline input-medium">
                                <div class="input-group">
                                    <input class="form-control  input-circle-left" style="width:150px;" placeholder="search..." type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-circle-right btn-default" type="submit">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sherin Maliakkal</td>
                                    <td>7829287581</td>
                                    <td>123123</td>
                                </tr>
                                <tr>
                                    <td>Sherin Maliakkal</td>
                                    <td>7829287581</td>
                                    <td>123123</td>
                                </tr>
                                <tr>
                                    <td>Sherin Maliakkal</td>
                                    <td>7829287581</td>
                                    <td>123123</td>
                                </tr>
                                <tr>
                                    <td>Sherin Maliakkal</td>
                                    <td>7829287581</td>
                                    <td>123123</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~")assets/global/scripts/highcharts.js"></script>
    <script src="@Url.Content("~")assets/global/scripts/funnel.js"></script>
    <script src="@Url.Content("~")assets/global/scripts/exporting.js"></script>
    <script>
        //Funnel 2
        $('#funnel2').highcharts({
            chart: {
                type: 'funnel',
                marginRight: 100
            },
            title: {
                text: 'My Open opportunity',
                x: -50
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b> ({point.y:,.0f})',
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        softConnector: true
                    },
                    neckWidth: '30%',
                    neckHeight: '25%'
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Leads',
                data: [
                    ['Fulfillment', 4],
                    ['Coordinator', 12],
                    ['Manager Approval', 23],
                    ['Leads Qualification', 50],
                    ['Leads', 100]
                ]
            }]
        });
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Won opportunity'
                },
                subtitle: {
                    text: 'Source: '
                },
                xAxis: {
                    categories: ['Saleem Najid Deeb', 'Sofian Diya Khouri', 'Aqil Abdul-Nafi', 'Wajeeh Majd Sleiman', 'Ala Sati Asfour'],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'SUM( )',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' millions'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: '#FFFFFF',
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'QAR',
                    data: [21321321, 2134231432, 324324, 32432, 234324]
                }]
            });
        });
    </script>
}

@section Css{
    <style>
        .input-medium {
            width: 200px !important;
        }
    </style>
}