@{
    ViewBag.Title = "Company";
    Layout = null;
    string companyid = ViewBag.company;
    string folderid = ViewBag.fid;
    FramWork.Models.FrameworkEntities dc = new FramWork.Models.FrameworkEntities();
    var companyname = dc.ABB_Company.AsEnumerable().Where(a => a.Id == Convert.ToInt64(companyid)).FirstOrDefault();
    var foldername = dc.ABB_Company_Doc_folder.AsEnumerable().Where(a => a.Id == Convert.ToInt64(folderid)).FirstOrDefault();
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-yellow-crusta">
            <i class="fa fa-mobile-phone font-red-sunglo"></i>
            <span class="caption caption-subject bold uppercase font-red-sunglo">Upload Files</span>
            <span class="caption-helper"></span>
        </div>
        <div class="actions">

        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-8" id="filelistdiv">

                @Html.Action("listoffiles", "BB_Company_Doc_folder", new { company = companyid, fid = folderid })
            </div>
            <div class="col-md-4" style="border-left:solid 1px #ddd;">


                <form id="uploadbtnform" method="post" enctype="multipart/form-data" >

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                File Name <span class="required" aria-required="true">
                                    *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="txtfilename" required />
                                <span class="help-block">
                                    Provide filename
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                select files <span class="required" aria-required="true">
                                    *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <div id="multiple">
                                    <input type="file" class="multiple" name="files" required />
                                </div>
                                <span class="help-block">
                                    Select files to upload
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Document Type <span class="required" aria-required="true">
                                    *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="txtdoctype" required />
                                <span class="help-block">
                                    Provide Document Type
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Expiry <span class="required" aria-required="true">
                                    *
                                </span>
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control date-picker" name="txtexpiry" placeholder="MM/DD/YYYY" required />
                                <span class="help-block">
                                    Provide Expiry
                                </span>
                            </div>
                        </div>


                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">

                                    <input type="hidden" id="txtcompany" name="txtcompany" value="@companyid" />
                                    <input type="hidden" id="txtfolder" name="txtfolder" value="@folderid" />
                                    <button class="btn green button-submit" id="uploadbtn">Upload</button>
                                </div>
                            </div>
                        </div>


                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
